{% block asiento_selector_widget %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {% set loaderid = [form.vars.id, '_loader'] | join('') %}
    {{ block('hidden_widget') }}
    <img src='{{ asset('bundles/applicationtools/images/ajax-loader.gif' ) }}' id='{{ loaderid }}' style='display: none;'>
    <script type="text/javascript">
        jQuery(function(){
            ;
        });
    </script>
    {% block styles %}
        <style>
            .btn-outline-secondary {
                color: #6c757d !important;
                border-color: #6c757d !important;
                background-color: transparent !important;
            }
            .btn-outline-secondary:hover {
                background-color: #6c757d !important; /* gris oscuro */
                color: #fff !important;
            }
        </style>
    {% endblock %}
{% set transporte=form.vars.transporte %}
{% set asientos_libres=form.vars.asientos_libres %}
{% set rows=transporte.grillaRows - 1 %}
{% set cols=transporte.grillaCols - 1 %}
{% set plantas=transporte.plantas - 1 %}

<div class="row">
{% for planta in 0 .. plantas %}
<div class="col-md-2">
    <table class="table table-bordered">
    <theader>
        <th colspan="{{ cols + 1 }}" style="text-align: center;">
            Frontal
        </th>
        {% if plantas > 0 %}
        <th colspan="{{ cols + 1 }}" style="text-align: center;">
        {{ transporte.plantaLabel(planta) }}
        </th>
        {% endif %}
    </theader>
    <tbody style="text-align: center;">
    {% for row in 0 .. rows %}
    <tr>
        {% for col in 0 .. cols %}
        <td>
        {% set asiento=transporte.getAsientoEnGrilla(planta, row, col) %}
        {% if asiento %}
            {% block celda_asiento %}
                {% if asiento.id in asientos_libres %}

                    {% if asiento.id in asientos_reserva %}
                        {% set btn_class='btn btn-primary btn-lg' %}
                        <button class="{{ btn_class }}" type="submit" name="toggle_asiento" value="{{ asiento.id }}">{{ asiento.numero }}</button>
                    {% else %}
                        {% set btn_class='btn btn-outline-secondary btn-lg' %}
                        <a href="#" class="{{ btn_class }}" data-toggle="modal" data-target="#modal{{ asiento.id }}" onclick="procAsiento({{ form.vars.idreserva }},{{ asiento.id }},{{ asiento.numero }})">{{ asiento.numero }}</a>
                        {# form para carga de pasajero del boleto #}
                        <div class="modal fade" id="modal{{ asiento.id }}" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="createModalLabel"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="f{{ asiento.id }}"></div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            function procAsiento(idreserva,idasiento,asientonumero) {
                                $.ajax({
                                    url: '{{ path('admin_app_reserva_modalForm') }}',
                                    method: 'POST',
                                    processData: false,
                                    contentType: "application/json; charset=utf-8",
                                    data: JSON.stringify({ "idreserva": idreserva, "idasiento": idasiento, 'asientonumero': asientonumero}),
                                    dataType: "json",
                                    success: function (data) {
                                        console.log('AJAX Success:', data);
                                        $('#f'+idasiento).append().empty();
                                        $('#f'+idasiento).append(data);
                                    }
                                });
                            }
                        </script>

                    {% endif %}
                {% else %}
                    <div class="btn-lg align-content-center">{{ asiento.numero }}</div>
                {% endif %}
            {% endblock %}
        {% else %}
            {% block celda_vacia %}
                &nbsp;
            {% endblock %}
        {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endfor %}
</div>



{% endblock %}
{# kate: tab-width 2 #}
