{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}


{% block field %}

    <div class="list-group mb-5">
            <div class=" justify-content-between align-items-center">
                <!-- Icono o Logo -->
                <div class="align-items-center">
                    <div>
                        <span>{{ object.trayecto.origen }}</span> &raquo; <span>{{ object.trayecto.destino }} </span>
                    </div>
                    <div style="text-align: right">
                        <a href="{{ admin.generateObjectUrl('reserva', object) }}" class="btn btn-sm btn-danger view_link" title="{{ 'Reservar pasaje'|trans({}, 'SonataAdminBundle') }}" style="right: auto">
                            <i class="fas fa-ticket-alt"></i>
                            Reserva
                        </a>
                    </div>
                    <div class="align-items-center" style="min-height: auto;">
                        <div class="card col-md-4 col-xs-4">
                            <div class="card-header">
                                <cite title="Source Title">Salida</cite> <br>{{ object.partida|date('D d M') }}
                            </div>
                            <div class="card-body">
                                <figure>
                                    <blockquote class="blockquote">
                                        <i class="fa fa-clock-o"></i> <strong>{{ object.partida|date('H:m') }}</strong>
                                    </blockquote>
                                </figure>
                            </div>
                        </div>
                        <div class="card col-md-4 col-xs-4">
                            <div class="card-header">
                                <cite title="Source Title">LLegada</cite><br> {{ object.llegada|date('D d M') }}
                            </div>
                            <div class="card-body">
                                <figure>
                                    <blockquote class="blockquote">
                                        <i class="fa fa-clock-o"></i> <strong>{{ object.llegada|date('H:m') }}</strong>
                                    </blockquote>
                                </figure>
                            </div>
                        </div>
                        <div class="card col-md-2 col-xs-2" style="font-size: small">
                            <div class="card-header">
                                <br>ARS
                            </div>
                            <div class="card-body">
                                <figure>
                                    <blockquote class="blockquote">
                                        <strong>{{ (object.costo/100) |number_format(2, ',', '.') }}</strong>
                                    </blockquote>

                                </figure>
                            </div>
                        </div>
                    </div>

            </div>
    </div>
{% endblock field %}