{% extends '@SonataAdmin/CRUD/edit.html.twig' %}
{% block sonata_admin_content %}
    {{ parent() }}
  {% if object.showBoletosBtn %}
      {% if admin.subject is not null and admin.subject.boletos is not null %}

          {% for boleto in admin.subject.boletos %}
            <div class="alert alert-info col-md-3" role="alert">
              <h4>Resumen de la Reserva {{ boleto.id }}</h4>
              <dl class="dl-horizontal">
                <dt>Asiento:</dt>
                <dd>{{ boleto.asiento }}</dd>

                <dt>Nombre Completo:</dt>
                <dd>{{ boleto.pasajero.nombre }} {{ boleto.pasajero.apellido }}</dd>

                <dt>DNI:</dt>
                <dd>{{ boleto.pasajero.dni }}</dd>

                <dt>Sexo:</dt>
                <dd>{{ boleto.pasajero.sexo }}</dd>
              </dl>
            </div>
          {% endfor %}
      {% else %}
          <p class="alert alert-info">Aún no hay un pasajero asociado a este boleto.</p>
      {% endif %}

  {% endif %}

{% endblock %}
{% block sonata_form_actions %}
  {% if object.showBoletosBtn %}
    <button type="submit" class="btn btn-warning" name="btn_boletos">
        <i class="fa fa-save"></i> Volver
    </button>
  {% endif %}

  {% if object.showPaymentBtn %}
    <button type="submit" class="btn btn-warning" name="btn_payment">
        <i class="fa fa-save"></i> Pagar
    </button>
  {% endif %}

  {% if object.showFinalizeBtn %}
    <a href="{{ object.urlpago }}" name="btn_finalize" class="btn btn-warning" role="button" aria-pressed="true"><i class="fa fa-save"></i>Confirmar Reserva</a>
  {% endif %}

  {# Por ahora ocultar botones de admin
  {{ parent() }}
  #}
{% endblock %}
